<clr-modal
    [(clrModalOpen)]="createEditIdpOpened"
    [clrModalStaticBackdrop]="staticBackdrop"
    [clrModalClosable]="closable">
    <h3 class="modal-title">{{ modalTitle }}</h3>
    <div class="modal-body overflow-visible">
        <inline-alert
            class="modal-title"
            (confirmEvt)="confirmCancel($event)"></inline-alert>
        <form #targetForm="ngForm" class="clr-form clr-form-horizontal">
            <!-- Federated IDP name -->
            <clr-input-container>
                <label class="required">{{
                    'DESTINATION.NAME' | translate
                }}</label>
                <input
                    autocomplete="off"
                    clrInput
                    type="text"
                    id="idp_name"
                    [disabled]="testOngoing"
                    [readonly]="!editable"
                    [(ngModel)]="target.name"
                    name="targetName"
                    size="30"
                    #targetName="ngModel"
                    required />
                <clr-control-error
                    *ngIf="
                        targetName.errors &&
                        targetName.errors.required &&
                        (targetName.dirty || targetName.touched)
                    ">
                    {{ 'DESTINATION.NAME_IS_REQUIRED' | translate }}
                </clr-control-error>
            </clr-input-container>
            <!--Description-->
            <clr-textarea-container>
                <label>{{ 'REPLICATION.DESCRIPTION' | translate }}</label>
                <textarea
                    clrTextarea
                    type="text"
                    class="inputWidth"
                    row="3"
                    name="description"
                    [(ngModel)]="target.description"></textarea>
            </clr-textarea-container>
            <!-- Offline Validation -->
                  <div class="clr-checkbox-wrapper mt-16">
                        <input
                            type="checkbox"
                            class="clr-checkbox"
                            [checked]="false"
                            id="offlineValidation"
                            formControlName="offline_validation" />
                        <label
                            class="clr-control-label event-label"
                            for="offlineValidation"
                            >{{
                                'FEDERATED_IDPS.OFFLINE_VALIDATION' | translate
                            }}
                            <clr-tooltip>
                                <clr-icon
                                    clrTooltipTrigger
                                    shape="info-circle"
                                    size="24"></clr-icon>
                                <clr-tooltip-content
                                    clrSize="lg"
                                    *clrIfOpen>
                                    <span>
                                        {{
                                            'FEDERATED_IDPS.OFFLINE_VALIDATION_TOOLTIP'
                                                | translate
                                        }}
                                    </span>
                                </clr-tooltip-content>
                            </clr-tooltip>
                        </label>
                    </div>
            <!-- OpenIDConfig URL -->
            <div class="clr-form-control">
                <label
                    for="idp_url"
                    class="required clr-control-label"
                    >{{ 'FEDERATED_IDPS.OPENIDCONFIG_URL' | translate }}</label
                >
                <div
                    class="clr-control-container"
                    [class.clr-error]="
                        targetEndpoint?.errors &&
                        targetEndpoint.errors.required &&
                        (targetEndpoint.dirty || targetEndpoint.touched)
                    ">
                    <div class="clr-input-wrapper position-relative">
                        <clr-icon
                            *ngIf="
                                !(
                                    !showEndpointList &&
                                    targetEndpoint?.errors &&
                                    targetEndpoint.errors.required &&
                                    (targetEndpoint.dirty ||
                                        targetEndpoint.touched)
                                ) && endpointList?.length
                            "
                            class="down"
                            shape="caret"
                            dir="down"
                            (click)="showEndpointList = true"></clr-icon>
                        <input
                            autocomplete="off"
                            (blur)="blur()"
                            (focus)="showEndpointList = true"
                            class="clr-input endpoint-input"
                            type="text"
                            id="destination_url"
                            [readonly]="!editable"
                            [(ngModel)]="target.issuer"
                            size="28"
                            name="endpointUrl"
                            #targetEndpoint="ngModel"
                            required
                            placeholder="http(s)://192.168.1.1" />
                        <!-- <div -->
                        <!--     class="selectBox" -->
                        <!--     (mouseleave)="endpointOnHover = false" -->
                        <!--     (mouseover)="endpointOnHover = true" -->
                        <!--     *ngIf="endpointList?.length && showEndpointList"> -->
                        <!--     <ul> -->
                        <!--         <li -->
                        <!--             *ngFor="let endpoint of endpointList" -->
                        <!--             (click)="selectedEndpoint(endpoint.value)"> -->
                        <!--             {{ endpoint.key }} -->
                        <!--         </li> -->
                        <!--     </ul> -->
                        <!-- </div> -->
                        <clr-icon
                            *ngIf="
                                !showEndpointList &&
                                targetEndpoint?.errors &&
                                targetEndpoint.errors.required &&
                                (targetEndpoint.dirty || targetEndpoint.touched)
                            "
                            class="clr-validate-icon"
                            shape="exclamation-circle"></clr-icon>
                    </div>
                    <clr-control-error
                        *ngIf="
                            !showEndpointList &&
                            targetEndpoint?.errors &&
                            targetEndpoint.errors.required &&
                            (targetEndpoint.dirty || targetEndpoint.touched)
                        ">
                        {{ 'DESTINATION.URL_IS_REQUIRED' | translate }}
                    </clr-control-error>
                </div>
            </div>
            <!-- Mannual OpenIDConfig -->
            <clr-textarea-container>
                <label>{{ 'FEDERATED_IDPS.MANNUAL_OPENIDCONFIG' | translate }}</label>
                <textarea
                    clrTextarea
                    type="text"
                    class="inputWidth"
                    row="3"
                    name="openidconfig"
                    [(ngModel)]="openIDConfigJSON"></textarea>
            </clr-textarea-container>

            <!-- access_key -->
            <clr-input-container>
                <label>{{ 'DESTINATION.ACCESS_ID' | translate }}</label>
                <input
                    autocomplete="off"
                    clrInput
                    type="text"
                    placeholder="Access ID"
                    id="destination_access_key"
                    [disabled]="testOngoing"
                    size="30"
                    name="access_key"
                     />
            </clr-input-container>
            <!-- access_secret -->
            <div class="clr-form-control">
                <label for="destination_password" class="clr-control-label">{{
                    'DESTINATION.ACCESS_SECRET' | translate
                }}</label>
                <div class="clr-control-container">
                    <div class="clr-textarea-wrapper mt-0">
                        <input
                            autocomplete="off"
                            class="clr-input"
                            type="password"
                            placeholder="Access Secret"
                            id="destination_password"
                            [disabled]="testOngoing"
                            [readonly]="!editable"
                            size="30"
                            name="access_secret"
                            />
                        <ng-template #gcr_secret>
                            <textarea
                                autocomplete="off"
                                type="text"
                                row="3"
                                placeholder="Json Secret"
                                class="clr-textarea"
                                id="destination_password"
                                [disabled]="testOngoing"
                                [readonly]="!editable"
                                [(ngModel)]="target.credential.access_secret"
                                name="access_secret"
                                #access_secret="ngModel"></textarea>
                        </ng-template>
                    </div>
                </div>
            </div>
            <!-- Verify Remote Cert -->
            <clr-checkbox-container>
                <label
                    class="destination-insecure-label"
                    id="destination_insecure_checkbox"
                    for="destination_insecure"
                    ><span>{{ 'CONFIG.VERIFY_REMOTE_CERT' | translate }}</span>
                    <clr-tooltip>
                        <clr-icon
                            clrTooltipTrigger
                            shape="info-circle"
                            size="24"></clr-icon>
                        <clr-tooltip-content
                            clrPosition="top-right"
                            clrSize="md"
                            *clrIfOpen>
                            {{
                                'CONFIG.TOOLTIP.VERIFY_REMOTE_CERT' | translate
                            }}
                        </clr-tooltip-content>
                    </clr-tooltip>
                </label>
                <clr-checkbox-wrapper>
                    <input
                        type="checkbox"
                        clrCheckbox
                        #insecure
                        id="destination_insecure"
                        [disabled]="testOngoing || !editable"
                        name="insecure"
                        [ngModel]="!target.offline_validation"
                        (ngModelChange)="setOfflineValidation($event)" />
                </clr-checkbox-wrapper>
            </clr-checkbox-container>
        </form>
    </div>
    <div class="modal-footer">
        <button
            type="button"
            class="btn btn-outline"
            (click)="onCancel()"
            [disabled]="inProgress">
            {{ 'BUTTON.CANCEL' | translate }}
        </button>
        <button
            [clrLoading]="okButtonState"
            type="submit"
            class="btn btn-primary"
            (click)="onSubmit()"
            [disabled]="!isValid">
            {{ 'BUTTON.OK' | translate }}
        </button>
    </div>
</clr-modal>
