.flex-min-width {
  min-width: 180px;
}

.truncate {
  width: 150px;           /* 👈 set your desired fixed width */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.width-p-100 {
  width: 100%;

  .lg {
    width: 550px;
  }
}
